# Substitua por sua URL de produção quando fizer o deploy (ex: https://meu-backend-api.onrender.com)
VITE_API_URL=http://localhost:3001

# Porta em que o projeto vai rodar localmente ou no servidor
PORT=3000