@import url(./variables.css);

@font-face {
  font-family: pokemon;
  src: url(../font/Pokemon\ Solid.ttf);
}

.poisonType {
  background-color: var(--color-poison);
  color: var(--white);
}

.fireType {
  background-color: var(--color-fire);
  color: var(--white);
}

.normalType {
  background-color: var(--color-normal);
  color: var(--white);
}

.rockType {
  background-color: var(--color-rock);
  color: var(--white);
}

.waterType {
  background-color: var(--color-water);
  color: var(--white);
}

.grassType {
  background-color: var(--color-grass);
  color: var(--white);
}

.flyingType {
  background-color: var(--color-flying);
  color: var(--white);
}

.fightingType {
  background-color: var(--color-fighting);
  color: var(--white);
}

.electricType {
  background-color: var(--color-electric);
  color: var(--white);
}

.groundType {
  background-color: var(--color-ground);
  color: var(--white);
}

.psychicType {
  background-color: var(--color-psychic);
  color: var(--white);
}

.iceType {
  background-color: var(--color-ice);
  color: var(--white);
}

.bugType {
  background-color: var(--color-bug);
  color: var(--white);
}

.ghostType {
  background-color: var(--color-ghost);
  color: var(--white);
}

.steelType {
  background-color: var(--color-steel);
  color: var(--white);
}

.dragonType {
  background-color: var(--color-dragon);
  color: var(--white);
}

.darkType {
  background-color: var(--color-dark);
  color: var(--white);
}

.fairyType {
  background-color: var(--color-fairy);
  color: var(--white);
}
