.infoScreenContent {
  width: 100%;
}

.infoScreenContentInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
}

.infoScreenContentRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  border-bottom: 1px solid var(--white);
  line-height: 40px;
}

.infoScreenContentRow:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  justify-content: center;
  border-bottom: none;
  line-height: normal;
}

.typesWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.type {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3px 7px;
  border-radius: 20px;
  font-weight: 600;
  line-height: normal;
}
