.move {
	gap: 0;
	padding: 0;
}

.moveHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 20px 15px 10px;
	font-size: 16px;
	color: rgba(0, 255, 150, 0.9);
	font-family: monospace;
	border-bottom: 1px dashed rgba(0, 255, 150, 0.3);
	text-transform: uppercase;
}

.moveHeader:hover {
	background: rgba(0, 255, 150, 0.1);
}

.moveButtonOpen {
	font-size: 18px;
	color: rgba(0, 255, 150, 1);
}

.moveContent {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 10px;
	font-size: 14px;
	color: rgba(0, 255, 150, 0.7);
	font-family: monospace;
	padding: 15px 10px;
	background: rgba(0, 255, 150, 0.02);
}

.moveInfoType {
	padding: 3px 7px;
	border-radius: 4px;
	border: 1px solid rgba(0, 255, 150, 0.5);
	background: rgba(0, 255, 150, 0.1);
	color: rgba(0, 255, 150, 1);
	text-shadow: 0 0 5px rgba(0, 255, 150, 0.5);
}

.spinner {
	color: rgba(0, 255, 150, 1);
	width: 25px;
	height: auto;
	margin: 0 auto 20px;
}

.poisonType {
	composes: poisonType from global;
}

.rockType {
	composes: rockType from global;
}

.fireType {
	composes: fireType from global;
}

.normalType {
	composes: normalType from global;
}

.waterType {
	composes: waterType from global;
}

.grassType {
	composes: grassType from global;
}

.flyingType {
	composes: flyingType from global;
}

.fightingType {
	composes: fightingType from global;
}

.electricType {
	composes: electricType from global;
}

.groundType {
	composes: groundType from global;
}

.psychicType {
	composes: psychicType from global;
}

.iceType {
	composes: iceType from global;
}

.bugType {
	composes: bugType from global;
}

.ghostType {
	composes: ghostType from global;
}

.steelType {
	composes: steelType from global;
}

.dragonType {
	composes: dragonType from global;
}

.darkType {
	composes: darkType from global;
}

.fairyType {
	composes: fairyType from global;
}
