.battleMessages {
	width: 100%;
	max-width: 600px;
	max-height: 250px;
	margin: 20px auto;
	overflow-y: scroll;
	background-color: var(--white);
}

.message {
	padding: 10px;
}

.message:nth-child(odd) {
	background-color: var(--gray-600);
	color: var(--white);
}
