.sectionHome {
  position: relative;
  background-color: var(--malibu);
  margin: 0 auto;
}

.spinner {
  margin-top: 40px;
}

.container {
  padding: 130px 30px 0;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 50px;
}

.pokemonList {
  width: 100%;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-template-rows: repeat(auto-fit, 300px);
  gap: 30px;
  padding-bottom: 20px;
  margin-top: 40px;
}

.listEmpty {
  width: 100%;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  padding: 0 0 50px;
  margin: 10px auto 0;
}

.pikachuNotFound {
  padding-top: 50px;
  width: 100%;
  max-width: 150px;
  margin: 0 auto;
}

.buttonToTop {
  position: fixed;
  width: 100px;
  height: 100px;
  bottom: 50px;
  right: 5vh;
  border-radius: 50px;
  background-color: var(--white);
  cursor: pointer;
}

.buttonToTop:hover .arrowUp {
  animation: pulse 1s infinite ease-in-out alternate;
}

@keyframes pulse {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 130px 20px 0;
  }

  .buttonToTop {
    width: 90px;
    height: 90px;
    bottom: 20px;
    right: 2vh;
  }
}
