.sectionHome {
  position: relative;
  background-color: #6498ff;
  margin: 0 auto;
}

.container {
  padding: 130px 30px 0;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
  background: whitesmoke;
  color: yellow;
  -webkit-text-stroke: 1px #3761a8;
  font-family: pokemon;
  font-size: 24px;
}

.inputText {
  position: relative;
  margin-bottom: 30px;
  width: 100%;
  max-width: 500px;
  height: 40px;
  padding: 10px 15px;
  font-size: 18px;
}

.pokemonList {
  width: 100%;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 300px));
  grid-template-rows: minmax(300px, 300px);
  gap: 30px;
  padding-bottom: 50px;
}

.typesFilterWrapper {
  margin-bottom: 30px;
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.buttonTypeFilter {
  padding: 5px 10px;
}
