.tabsWrapper {
	display: flex;
	align-items: center;
	width: 100%;
	gap: 12px;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

@media screen and (max-width: 1024px) {
	.tabsWrapper {
		overflow-x: auto;
		justify-content: flex-start;
		flex-wrap: nowrap;
	}

	.tabsWrapper::before,
	.tabsWrapper::after {
		content: '';
		margin: auto;
	}
}

@media screen and (min-width: 1025px) {
	.tabsWrapper {
		flex-wrap: wrap;
		justify-content: center;
		overflow-x: visible;
	}
}

.tabsWrapper::-webkit-scrollbar {
	display: none;
}

.tab {
	position: relative;
	background: #333;
	border: 1px solid #111;
	border-radius: 6px;
	color: #ccc;
	font-size: 15px;
	font-family: var(--font-primary);
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;
	padding: 10px 18px;
	white-space: nowrap;
	transition: all 0.2s ease;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), inset 0 1px 1px rgba(255, 255, 255, 0.2);
	letter-spacing: 1px;
}

.tab:hover:not(:disabled) {
	background: var(--darkgrey, #333);
	color: var(--white);
	transform: translateY(-2px);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4), inset 0 1px 1px rgba(255, 255, 255, 0.3);
}

.tabActive {
	background: var(--black, #222);
	color: var(--blue, #00bfff);
	text-shadow: 0 0 5px rgba(0, 191, 255, 0.5);
	box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.8), inset 0 1px 3px rgba(0, 0, 0, 0.5);
	transform: translateY(2px);
	border-color: #000;
}

.tabActive:hover:not(:disabled) {
	background: var(--black, #222);
	color: var(--blue, #00bfff);
	transform: translateY(2px);
	box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.8), inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.tabDisabled {
	background: #222;
	color: #555;
	box-shadow: none;
	border-color: #222;
	cursor: not-allowed;
	transform: scale(1);
}

.activeIndicator {
	position: absolute;
	bottom: -7px;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: var(--azure);
	border-radius: 3px 3px 0 0;
}
