:root {
  --max-width-container: 450px;
  --mobile-width: 610px;
}

.backdrop {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0%;
  background-color: var(--backdrop-fog);
  transition: all 0.5s ease;
}

.backdropActive {
  width: 100%;
}

.contentWrapper {
  width: 100%;
  height: 100%;
  max-width: var(--mobile-width);
  background-color: var(--color-pokedex);
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border-radius: 0 0 0 30px;
}

.container {
  width: 100%;
  height: 100%;
  padding: 70px 20px 70px;
  overflow-y: auto;
  overflow-x: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 300px;
  overflow-x: hidden;
  gap: 30px;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 60px 20px 40px;
  }
}

/* Mobile width variable */
@media screen and (max-width: 610px) {
  .contentWrapper {
    border-radius: 0;
  }
}
