*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  min-height: 100vh;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

button {
  border: none;
}

body,
#root {
  list-style-type: none;
  min-height: 100vh;
}

.div-background {
  width: 100%;
  min-height: 100vh;
  background: #232931;
}

@font-face {
  font-family: pokemon;
  src: url(./assets/font/Pokemon\ Solid.ttf);
}
