@import url(../src/assets/global/global.css);

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

button {
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body,
#root {
  list-style-type: none;
  min-height: 100vh;
}

.div-background {
  width: 100%;
  min-height: 100vh;
  background: var(--ebony-clay);
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: var(--black);
}

::-webkit-scrollbar-thumb {
  background-color: var(--white);
}
