.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 4px 4px var(--black-alpha-25);
	z-index: 1;
	background: var(--whitesmoke);
}

.header a {
	color: var(--yellow);
	-webkit-text-stroke: 1px var(--azure);
	font-family: pokemon, sans-serif;
	font-size: 36px;
}
